body {
    margin: 0;
}

@font-face {
    font-family: 'Dilana';
    font-style: normal;
    font-weight: normal;
    src: local('Dilana'), url('../assets/fonts/fuente  dilana.woff') format('woff');
}

#topBoard {
    display: grid;
    width: 100%;
}

.placeholder {
    padding: 3.5rem 0.75rem;
}

#instruction {
    text-align: center;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#players {
    width: 100%;
    display: flex;
    justify-content: center;
}

.player {
    flex-direction: column;
    margin: 0 .25rem;
}

.player p {
    margin: 0 0;
}

#players img {
    padding-top: .5rem;
    margin: 0 auto;
    display: block;
}

#players .storyteller img {
    -webkit-filter: drop-shadow(5px 5px 5px #1AC6FF);
    filter: drop-shadow(5px 5px 5px #1AC6FF);
}

#centerBoard {
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
}

#centerBoard:after {
    content: "";
    display: table;
    clear: both;
  }

#centerBoard .card {
    border-radius: 1rem;
    float: left;
    font-family: 'Dilana';
    font-size: 2rem;
    margin: .3rem;
    text-align: center;
}

#cardBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardBlock input[type=radio]{
    display: none;
}

input[type=radio]:checked + .card {
    box-sizing: border-box;
    box-shadow: 0 0 30px #53ff1a !important;
}

#centerBoard .placeholder {
    color: #8c8c8c;
    background-color: #d9d9d9;
    border: .15rem dashed #8c8c8c;
    cursor: default;
}

#playerCards {
    width: 100%;
}

#playerCards .card {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    float: left;
    margin: .3rem;
    transition: transform 0.25s;
    max-width: 175px;
    max-height: 263px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#playerCards .card:hover {
    box-shadow: 0 0 50px #666666;
}

#playerCards label img {
    min-width: 100%;
    min-height: 100%;
}

#playerCards .card:hover {
    transform: scale(1.35);
    z-index: 100;
}

#playerName {
    font-family: 'Dilana';
    font-size: 2rem;
}

#storyTellerClue {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#storyTellerClue button {
    background-color: #1a8cff;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

#storyTellerClue button:disabled {
    background-color: #80bfff;
}

#storyTellerClue button:disabled:hover {
    background-color: #80bfff;
}

#storyTellerClue button:hover {
    background-color: #0066cc;
    transition: 0.2s;
}